<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </nav>

    <div>
        <section layout:fragment="content">
            <p>Content goes here</p>
        </section>

        <section layout:fragment="test"></section>
    </div>

    <footer>
        Footer
    </footer>
</div>
</body>
</html>
